
img {
    opacity: 0;
    border-radius: .6rem;
    width: 800px;
    height: 800px;
}

.img-div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.form-div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: crimson;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10rem;
}

button {
    width: 6rem;
    height: 3rem;
    color: #fff;
    background-color: crimson;
    font-weight: 400;
    font-size: .9rem;
    border: none;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    transition: opacity 2s;
}

button:hover {
    cursor: pointer;
    opacity: .9;
    background-color: #cb0f33;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}

.file-input {
    appearance: none;
    border: none;
    background-color: #0494d2;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: opacity 1s;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.1);*/
}

.file-input:hover {
    opacity: 0.9;
}

.file-input::-webkit-file-upload-button {
    appearance: none;
    background-color: crimson;
    cursor: pointer;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: opacity 1s;
}

.filename {
    margin-top: 10px;
    font-size: 16px;
}

.file-input::-webkit-file-upload-button:hover {
    opacity: 0.9;
}