
h1 {
    margin: 1rem;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.search-btn {
    padding: .5rem;
    color: crimson;
    width: 3rem;
    height: 1.25rem;
    border: none;
    border-radius: 35px;
    margin: .5rem 0 .5rem 0;
}

.form-container {
    padding: .5rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.table {
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}