
h1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: crimson;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10rem;
}

button {
    width: 6rem;
    height: 3rem;
    color: #fff;
    background-color: crimson;
    font-weight: 400;
    font-size: .9rem;
    border: none;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    transition: opacity 2s;
}

button:hover {
    cursor: pointer;
    opacity: .9;
    background-color: #cb0f33;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    margin: 10px;
}

input {
    width: 10rem;
    height: 2rem;
    font-size: .8rem;
    font-weight: 400;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.search-btn {
    padding: .5rem;
    color: crimson;
    width: 3rem;
    height: 1.25rem;
    border: none;
    border-radius: 35px;
    margin: .5rem 0 .5rem 0;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0494d2;
    border-radius: 15px;
    padding: .75rem;
    margin: 1rem 0 2rem 0;
    width: 70%;
    justify-self: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container {
    padding: 25px;
}

.table {
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}